.page {
	display: inline-block;
}
.box {
	display:inline-block;
	border: 2px solid blue;
	height: 100px;
	width: 100px;
	margin: 1px;
	vertical-align: top;
}
.void {
	display:inline-block;
	width: 104px;
	margin: 1px;
	vertical-align: top;
}
.line {
	height: 110px;
}
#app {
	position: absolute;
    top: 50px;
    right: 50px;
    bottom: 50px;
    left: 50px;
    margin: auto;
}
.coin {
	background-image: url(red.png);
}
.picked {
	background-image: url(green.png);
}
h3 {
	color: red;
	font-size: 200%;
	font-family: cursive;
}
#result-container {
	width: 100%;
	text-align: center;
	display: inline-block;
}
body {
	background-image: url(background.jpg);
}